# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\webOlja\WP_SIIT_Projekat\PocetniREST\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
